<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolzapp</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>

        <div id="root">
            <div class="container">
                <!-- contenitore sinistra -->
                <div class="left-container">
                    <div class="header-left">
                        <div class="user-one">
                            <img src="https://boolzap.netlify.app/img/Martina.svg" alt="">
                        </div>
                        <div class="header-icon-left">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-search"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="notification">
                        <div class="sound">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- ricerca contatti -->
                    <div class="input-search">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <input type="text" name="search" placeholder="Cerca o inizia una nuova chat" v-model='textFilter' @keyup='searchContact'>
                    </div>
                    <!-- contenitore contatti -->
                    <div class="contacts-list">
                        <div v-for='(contact, index) in contacts' @click='changeChat(index)' class="contact" :class='index == contactIndex ? "active" : ""' v-if='contact.visible'>
                            <img :src="contact.avatar" class="contact-img" :alt='contact.name'>
                            <div class="contact-info">
                                <p class="contact-name">{{ contact.name }}</p>
                                <p>Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contenitore destra -->
                <div class="right-container">
                    <div class="header-right">
                        <div class="current-chat">
                            <img :src="contacts[contactIndex].avatar" alt="">
                            <div class="current-chat-info">
                                <p>{{ contacts[contactIndex].name }}</p>
                                <p>Ultimo accesso oggi alle 12.08</p>
                            </div>
                        </div>
                        <div class="header-icon-right">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- contenitore messaggi -->
                    <div class="chat">
                        <div class="message" v-for='(contact, index) in contacts[contactIndex].messages' :class='contact.status'>
                            <p>{{ contact.message }}</p>
                            <i class="fas fa-angle-down"></i>
                            <div class="dropdown-menu">
                                <i class="far fa-trash-alt"></i>
                                <p @click='deleteMessage(index)'>Delete message</p>
                            </div>
                        </div>
                    </div>
                    <div class="send-message">
                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model='newMessage' @keyup.enter='addMessage'>
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
