* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 600px;
    width: 1000px;
    margin: auto;
    display: flex;
}
/* contenitore sinistra */
.left-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-left, .header-right {
    width: 100%;
    height: 60px;
    padding: 7px;
    background-color: lightgrey;
}

.user-one, .user-two {
    width: 46px;
    height: 46px;
    background-color: grey;
    float: left;
    border-radius: 50%;
}

.header-icon-left {
    width: calc(100% - 60px);
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-icon-left i, .header-icon-right i {
    margin-left: 10px;
    font-size: 20px;
    color: grey;
}

.notification {
    width: 100%;
    height: 60px;
    padding: 7px;
    background-color: #00BFFF;
}

.sound {
    width: 46px;
    height: 46px;
    margin-right: 3px;
    background-color: white;
    float: left;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound i {
    color: #00BFFF;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
}

.text a {
    font-size: 14px;
    color: grey;
}

.input-search {
    width: 100%;
    height: 40px;
    padding-left: 7px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}

.input-search i {
    padding: 7px;
    background-color: white;
    color: grey;
    border-radius: 3px;
    border: 1px solid grey;
}

.input-search input {
    width: 254px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid grey;
}

<<<<<<< HEAD
.contacts-list {
    width: 100%;
    height: calc(100% - 160px);
    background-color: green;
}

.contact {
    width: 100%;
    height: 60px;
    background-color: orange;
}

.contact img {
    height: 50px;
    width: 50px;
    float: left;
}

.contact p {
    float: left;
    width: 250px;
    height: 50px;line-height: 60px;
=======
.chat-container {
    width: 100%;
    height: calc(100% - 160px);
    background-color: green;
>>>>>>> main
}

/* contenitore destra */
.right-container {
    width: 70%;
    height: 100%;
}

.current-chat {
    width: 80%;
    height: 100%;
    background-color: red;
    float: left;
}

.header-icon-right {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat {
    width: 100%;
    height: 480px;
    background-image: url(https://github.com/annalisadesantis/vue-boolzapp/blob/main/sfondochat.png?raw=true);
}

.send-message {
    width: 100%;
    height: 60px;
    padding: 7px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}

.send-message i {
    font-size: 20px;
    margin: 0 20px;
    color: grey;
}

.send-message input {
    padding: 10px 7px;
    width: 85%;
    border: 1px solid grey;
    border-radius: 3px;
}
