* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(0deg, rgba(218,219,213,1) 80%, rgba(53,134,117,1) 80%);
    background-repeat: no-repeat;
}

.container {
    height: 600px;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

/* contenitore sinistra */
.left-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-left, .header-right {
    width: 100%;
    height: 60px;
    padding: 7px;
    background-color: #F5F5F5;
}

.user-one, .user-two {
    width: 46px;
    height: 46px;
    background-color: grey;
    float: left;
    border-radius: 50%;
}

.header-icon-left {
    width: calc(100% - 60px);
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-icon-left i, .header-icon-right i {
    margin-left: 10px;
    font-size: 20px;
    color: #C0C0C0;
}

.notification {
    width: 100%;
    height: 60px;
    padding: 7px;
    background-color: #00BFFF;
}

.sound {
    width: 46px;
    height: 46px;
    margin-right: 3px;
    background-color: white;
    float: left;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound i {
    color: #00BFFF;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
}

.text a {
    font-size: 14px;
    color: grey;
}

.input-search {
    width: 100%;
    height: 40px;
    padding-left: 7px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}

.input-search i {
    padding: 7px;
    background-color: white;
    color: #C0C0C0;
    border-radius: 3px;
    border: 1px solid #C0C0C0;
}

.input-search input {
    width: 254px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #C0C0C0;
    color: #C0C0C0;
}

.contacts-list {
    width: 100%;
    height: calc(100% - 160px);
    background-color: white;
    overflow-y: scroll;
}

.contact {
    width: 100%;
    height: 70px;
    padding: 7px;
    background-color: white;
    border-bottom: 1px solid #F5F5F5;
    cursor: pointer;
}

.contact img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #F5F5F5;
    float: left;
}

.contact-info {
    height: 50px;
    margin-left: 5px;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-info p:last-of-type {
    font-size: 14px;
    color: #C0C0C0;
}

.chat-container {
    width: 100%;
    height: calc(100% - 160px);
    background-color: green;
}

/* contenitore destra */
.right-container {
    width: 70%;
    height: 100%;
}

.current-chat {
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.header-right img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #F5F5F5;
    float: left;
}

.current-chat-info {
    margin-left: 5px;
    float: left;
}

.current-chat-info p:last-of-type {
    font-size: 14px;
    color: #C0C0C0;
}

.header-icon-right {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat {
    width: 100%;
    height: 480px;
    padding: 40px;
    background-image: url(https://github.com/annalisadesantis/vue-boolzapp/blob/main/sfondochat.png?raw=true);
    overflow-y: scroll;
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

.sent {
    clear: both;
    float: right;
    background-color: #d9ffb3;
}

.received {
    clear: both;
    float: left;
    background-color: white;
}

.send-message {
    width: 100%;
    height: 60px;
    padding: 7px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}

.send-message i {
    font-size: 20px;
    margin: 0 20px;
    color: #C0C0C0;
}

.send-message input {
    padding: 10px 7px;
    width: 85%;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
}
